<section id="banner"><img src="/assets/home-video.jpg" /></section>
<section id="create-account">
  <h1>Criar Conta</h1>
  <form action="" method="get">
    <div class="form-row">
      <div class="form-label">
        <label class="right inline" for="field-primeiro-nome">Avatar:</label>
      </div>
      <div class="form-field">
        <div class="file upload">
          <div class="fileupload thumbnail" style="width: 40px; height: 40px; float: left; border: 1px solid #ccc;"><img width="40" height="40" src="/assets/user-avatar.png" /></div>
          <input style="float: left; margin: 10px 0 23px 5px;" type="file">
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-label">
        <label class="right inline" for="field-primeiro-nome">Primeiro Nome:</label>
      </div>
      <div class="form-field">
        <input id="field-primeiro-nome" tabindex="6" type="text">
      </div>
    </div>
    <div class="form-row">
      <div class="form-label">
        <label class="right inline" for="field-ultimo-nome">Último Nome:</label>
      </div>
      <div class="form-field">
        <input id="field-ultimo-nome" tabindex="7" type="text">
      </div>
    </div>
    <div class="form-row">
      <div class="form-label">
        <label class="right inline" for="field-email-signup">Email:</label>
      </div>
      <div class="form-field">
        <input id="field-email-signup" tabindex="8" type="text">
      </div>
    </div>
    <div class="form-row">
      <div class="form-label">
        <label class="right inline" for="field-password-signup">Senha:</label>
      </div>
      <div class="form-field">
        <input id="field-password-signup" tabindex="9" type="password">
      </div>
    </div>
    <div class="form-row">
      <div class="form-label">
        <label class="right inline" for="field-password-signup">Sexo:</label>
      </div>
      <div class="form-field">
        <select tabindex="10"><option>Selecionar</option></select>
      </div>
    </div>
    <div class="form-row">
      <div class="form-label">
        <label class="right inline" for="field-password-signup">Data de Nascimento:</label>
      </div>
      <div class="form-field">
        <select class="four columns" tabindex="11"><option>Dia</option></select><select class="four columns" tabindex="12"><option>Mês</option></select><select class="four columns" tabindex="13"><option>Ano</option></select>
      </div>
    </div>
    <div class="form-row">
      <div class="form-label"></div>
      <div class="form-field">
        <button class="small button" tabindex="14" type="Submit">Criar Conta</button>
      </div>
    </div>
  </form>
</section>