<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="utf-8" />
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible" />
    <title>Fakebook - News Feed</title>
    <link href="/images/favicon.png" rel="icon" type="image/png" />
    <link href="/images/favicon.ico" rel="shortcut icon" />
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>

  <body class="news-feed news-feed_index">
    <header id="header" role="banner">
  
      <div id="header-inner">
        <div id="logo">
          <a href="/news-feed" title="Fakebook">Fakebook</a>
        </div>
      
        <nav class="nav-user" role="navigation">
          <ul>
            <li class="item-avatar">
              <div class="user-avatar small">
                <div class="user-avatar-inner">
                  <img width="24" height="24" src="/assets/user-chuck.jpg" />
                </div>
              </div>
            </li>
            <li class="item-username">
              <a href="/edit-profile" title="Minha Conta"><b>Chuck Norris</b></a>
            </li>
            <li class="item-logout">
              <a href="/">Sair</a>
            </li>
          </ul>
        </nav>
      </div>
    </header>

    <div id="content">
      <div id="content-inner">
        <%= yield %>
      </div>
    </div>
  </body>
</html>